.completed__container {
  width: 270px;
  height: 190px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 6px;
  margin-top: 30vh;
}
.iconify {
  font-size: 28px;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.completed__content {
  width: 77%;
  display: flex;
  flex-direction: column;
}
.completed__content > h1 {
  margin: 0;
  padding: 0;
  font-size: 0px;
  text-align: center;
}
.completed__main {
  width: 85%;
}
.purchase__details {
  font-size: 11px;
  margin-bottom: 12px;
}
.purchase {
  font-size: 19px;
  color: #4e598c;
  font-weight: bold;
  margin-bottom: 12px;
}
.link__container a {
  color: #f6c785;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .completed__container {
    width: 370px;
    height: 190px;
  }
  .purchase {
    font-size: 27px;
    color: #4e598c;
  }

  .purchase__details {
    font-size: 14px;
  }
  .link__container a {
    color: #f29a4e;
    font-size: 14px;
  }
}
