.billing__details {
  display: flex;
  flex-direction: column;
}
.billing__details__others {
  display: flex;
}
.billing__cvv {
  margin-left: 20px;
}
.large {
  display: none;
}

@media screen and (min-width: 768px) {
  .normal {
    display: none;
  }
  .large{
      display: flex;
  }
  .billing__details {
    flex-direction: row;
    justify-content: space-between;  
    margin: 0;
    padding: 0;  
  }
  .billing__details__number{
   flex-basis: 55%;
  }
  .billing__details__expiry{
    display: flex;
  }
}
